.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 1;
  
  z-index: 1000000;
}

.cursor-dot {
  width: 20px;
  height: 20px;
  background-color: #fed41e;
}

.cursor-dot-outline {
  width: 60px;
  height: 60px;
  border: 3px solid #fed41e;
}