@font-face {
  font-family: "hemiHead";
  src: url("../public/fonts/hemiHead.ttf") format("woff2")
}

@font-face {
  font-family: "MonumentExtended-Regular";
  src: url("../public/fonts/monumentextended/MonumentExtended-Regular.otf") format("opentype")
}
html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "MonumentExtended-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2a3578;
  overflow-x: hidden;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  color: white;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

@keyframes bounce {
  0% {
    filter: drop-shadow(10px 12px 5px #51eb146b) saturate(100%);
    transform: translatey(0px);

  }
  50% {
    filter: drop-shadow(7px 30px 12px #25318b) saturate(150%);
    transform: translatey(-15px);
  }
  100% {
    filter: drop-shadow(10px 12px 5px #51eb146b) saturate(100%);
    transform: translatey(0px);
  }
}