@font-face {
  font-family: "hemiHead";
  src: url("../public/fonts/hemiHead.ttf") format("woff2")
}

@font-face {
  font-family: "MonumentExtended-Regular";
  src: url("../public/fonts/monumentextended/MonumentExtended-Regular.otf") format("opentype")
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "MonumentExtended-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2a3578;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  color: white;
  text-decoration: none;
}
a:visited {
  color: inherit;
}

@keyframes bounce {
  0% {
    filter: drop-shadow(10px 12px 5px #51eb146b) saturate(100%);
    transform: translatey(0px);

  }
  50% {
    filter: drop-shadow(7px 30px 12px #25318b) saturate(150%);
    transform: translatey(-15px);
  }
  100% {
    filter: drop-shadow(10px 12px 5px #51eb146b) saturate(100%);
    transform: translatey(0px);
  }
}

html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0; 
  z-index: 1000;
}
  .c-scrollbar:hover {
    transform: scaleX(1.45); }
  .c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
    opacity: 1; }
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1); }
    [data-scroll-direction="horizontal"] .c-scrollbar:hover {
      transform: scaleY(1.3); }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fed41e;
  opacity: 1;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab; }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing; }
  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0; }
