.slider__wave {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.slider__wave svg {
  position: relative;
  display: block;
  width: 100vw;
  height: 156px;
}

.slider__wave .shape-fill {
  fill: #2a3578;
}

.slider{
    background-color: #4b5edc;
    min-height: 80vh;
    width: 100vw;
}
.slider__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.slider__content{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    max-width: 70vw;
    margin-top: 50px;
}

.slider__title__container{
  position: relative;
}

.slider__title{
  position: absolute;
  color: white;
  transform: translate(-50%,-50%);
  font-size: 9vw;
  letter-spacing: 2px;
  -webkit-text-stroke: 0px;
  white-space: nowrap;
  filter: drop-shadow(0 0 0.3rem black);
  top: 30px;

}

.slider__title:first-child{
  color: #2a3578;
  filter: drop-shadow(0 0 0.2rem black);
}

.slider__title:last-child{
  color: white;
  animation: animate-wave 4s ease-in-out infinite;
  filter: drop-shadow(0 0 0.2rem black);
}


@keyframes animate-wave{
  50%
  {
    clip-path: polygon(100% 0%, 0% 0% , 0% 77.33%, 1% 77.13%, 2% 76.52%, 3% 75.51%, 4% 74.13%, 5% 72.39%, 6% 70.34%, 7% 68.00%, 8% 65.42%, 9% 62.64%, 10% 59.72%, 11% 56.71%, 12% 53.66%, 13% 50.63%, 14% 47.68%, 15% 44.85%, 16% 42.19%, 17% 39.77%, 18% 37.61%, 19% 35.76%, 20% 34.25%, 21% 33.12%, 22% 32.37%, 23% 32.02%, 24% 32.09%, 25% 32.56%, 26% 33.43%, 27% 34.69%, 28% 36.31%, 29% 38.26%, 30% 40.51%, 31% 43.01%, 32% 45.72%, 33% 48.60%, 34% 51.59%, 35% 54.63%, 36% 57.67%, 37% 60.66%, 38% 63.54%, 39% 66.25%, 40% 68.76%, 41% 71.02%, 42% 72.98%, 43% 74.60%, 44% 75.87%, 45% 76.75%, 46% 77.24%, 47% 77.31%, 48% 76.98%, 49% 76.24%, 50% 75.11%, 51% 73.62%, 52% 71.78%, 53% 69.63%, 54% 67.20%, 55% 64.56%, 56% 61.73%, 57% 58.78%, 58% 55.75%, 59% 52.70%, 60% 49.69%, 61% 46.77%, 62% 43.99%, 63% 41.40%, 64% 39.06%, 65% 36.99%, 66% 35.25%, 67% 33.85%, 68% 32.84%, 69% 32.22%, 70% 32.00%, 71% 32.19%, 72% 32.80%, 73% 33.79%, 74% 35.17%, 75% 36.89%, 76% 38.94%, 77% 41.27%, 78% 43.85%, 79% 46.62%, 80% 49.53%, 81% 52.54%, 82% 55.59%, 83% 58.62%, 84% 61.58%, 85% 64.41%, 86% 67.07%, 87% 69.51%, 88% 71.67%, 89% 73.53%, 90% 75.04%, 91% 76.19%, 92% 76.95%, 93% 77.31%, 94% 77.25%, 95% 76.79%, 96% 75.93%, 97% 74.68%, 98% 73.07%, 99% 71.13%, 100% 68.89%);
  }
  0%,100%{
    clip-path: polygon(100% 0%, 0% 0% , 0% 32.00%, 1% 32.20%, 2% 32.82%, 3% 33.82%, 4% 35.21%, 5% 36.94%, 6% 39.00%, 7% 41.34%, 8% 43.92%, 9% 46.69%, 10% 49.61%, 11% 52.62%, 12% 55.67%, 13% 58.70%, 14% 61.66%, 15% 64.49%, 16% 67.14%, 17% 69.57%, 18% 71.72%, 19% 73.57%, 20% 75.08%, 21% 76.22%, 22% 76.96%, 23% 77.31%, 24% 77.24%, 25% 76.77%, 26% 75.90%, 27% 74.64%, 28% 73.02%, 29% 71.07%, 30% 68.83%, 31% 66.32%, 32% 63.61%, 33% 60.73%, 34% 57.75%, 35% 54.71%, 36% 51.66%, 37% 48.68%, 38% 45.80%, 39% 43.08%, 40% 40.57%, 41% 38.32%, 42% 36.36%, 43% 34.73%, 44% 33.46%, 45% 32.58%, 46% 32.10%, 47% 32.02%, 48% 32.35%, 49% 33.09%, 50% 34.22%, 51% 35.72%, 52% 37.56%, 53% 39.71%, 54% 42.13%, 55% 44.78%, 56% 47.60%, 57% 50.56%, 58% 53.58%, 59% 56.63%, 60% 59.64%, 61% 62.57%, 62% 65.35%, 63% 67.93%, 64% 70.28%, 65% 72.34%, 66% 74.09%, 67% 75.48%, 68% 76.50%, 69% 77.12%, 70% 77.33%, 71% 77.14%, 72% 76.54%, 73% 75.54%, 74% 74.17%, 75% 72.44%, 76% 70.39%, 77% 68.06%, 78% 65.49%, 79% 62.72%, 80% 59.80%, 81% 56.79%, 82% 53.74%, 83% 50.71%, 84% 47.75%, 85% 44.92%, 86% 42.26%, 87% 39.83%, 88% 37.66%, 89% 35.81%, 90% 34.29%, 91% 33.14%, 92% 32.38%, 93% 32.03%, 94% 32.08%, 95% 32.54%, 96% 33.41%, 97% 34.65%, 98% 36.26%, 99% 38.21%, 100% 40.45%);
  }
}

.slider__text{
    color: white;
    font-size: 12px;
    filter: drop-shadow(0 0 0.15rem black);
    margin: 50px 0;
    
}

.slider__leftArrow, .slider__rightArrow{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fed41e;
    cursor: pointer;
    transform: scale(0.5);
    z-index: 10;
}

.slider__rightArrow{
    right: 0;
}

.slider__leftArrow{
    left: 0;
}

@media screen and (min-width: 1025px) {

  .slider__leftArrow, .slider__rightArrow{
    transform: scale(1);
}

  .slider{
    padding-top: 10vh;
  }

  .slider__rightArrow{
    right: 5%;
  }

  .slider__leftArrow{
      left: 5%;
  }

  .slider__content{
  
    flex-direction: row;
    margin-top: 50px;
  }

  .slider__logo{
    max-width: 20vw;
  }

  .slider__text{
    color: white;
    font-size: 18px;
  }

  .slider__title__container{
    margin-bottom: 100px;
  }
}